.marked-text {
	border-radius: rem(6);
	background: $secondary;
	color: $text-inverse;
	padding-inline: 0.35em;
	margin-inline: -0.1em;
	font-family: $font-display;
	font-weight: 900;
	white-space: nowrap;
}

.title {
	font-weight: 700;
	font-size: 1.75rem;
	font-family: $font-display;

	@media (min-width: $md4) {
		font-size: 2.25rem;
	}
}

.title-lg {
	font-weight: 800;
	font-size: 1.5rem;
	font-family: $font-display;

	@media (min-width: $md4) {
		font-size: 2.75rem;
	}
}


.swiper-button-next,
.swiper-button-prev {
	& svg {
		width: 0.75rem;
	}

	position: relative;
	left: auto;
	right: auto;
	bottom: auto;
	top: auto;
	margin: 0;
	transform: none;
	transition: background-color 0.3s ease 0s,
	color 0.3s ease 0s;
	z-index: 2;
	width: 3.25rem;
	height: 3.25rem;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $secondary;
	color: $bg-white;

	&:disabled,
	&.swiper-button-disabled,
	&[aria-disabled="true"] {
		pointer-events: none;
		opacity: 0.4;
	}

	&.swiper-button-lock {
		display: none;
	}

	@media (any-hover: hover) {
		&:hover {
			background: $accent;
		}
	}
}


.swiper-button-next {

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		font-size: 0;
		background: $accent;
		transform: scale3d(0, 1, 1);
		transform-origin: left;
		will-change: transform;
		z-index: -1;
		display: block;
	}

	&.counting::after {
		animation: countingBar var(--counting-speed, 15.8s) linear forwards;
	}

	@keyframes countingBar {
		0% {
			transform: scale3d(0, 1, 1);
		}

		100% {
			transform: scale3d(1, 1, 1);
		}
	}
}

.swiper-pagination {
	margin-top: 2rem;
	position: static;
	bottom: auto;

	display: flex;
	justify-content: center;

	&.swiper-pagination-lock {
		margin-top: 0;
	}

	.swiper-pagination-bullet {
		position: relative;
		width: 0.75rem;
		height: 0.75rem;
		--swiper-pagination-bullet-horizontal-gap: #{rem(6)};
		background: #d9d9d9;
		opacity: 1;
		transition: all 0.3s ease 0s;

		&.swiper-pagination-bullet-active {
			background: $accent;
		}
	}
}

.text-nowrap {
	white-space: nowrap;
}


.socials {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

//============ МОДУЛИ ====================
@import "modules/popup";

//============ МОДУЛИ ====================

// ._loading {
// 	color: transparent;
// 	&::after {
// 		content: "";
// 		position: absolute;
// 		top: 50%;
// 		left: 50%;
// 		transform: translate(-50%, -50%);
// 		width: 20px;
// 		height: 20px;
// 		border: 3px solid #fff;
// 		border-bottom-color: transparent;
// 		border-radius: 50%;
// 		transform-origin: center;
// 		animation: rotation 1s linear infinite;
// 		z-index: 3;
// 	}
// }

// @keyframes rotation {
// 	0% {
// 		transform: translate(-50%, -50%) rotate(0deg);
// 	}
// 	100% {
// 		transform: translate(-50%, -50%) rotate(360deg);
// 	}
// }

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// Стилизация селекта
// $selectBg: $orange;
// $selectColor: $dark;

// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }
// ::selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	-webkit-box-shadow: none;
// 	box-shadow: none;
// }
// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }

// Стилизация скролла

$scrollbarColor: $accent;

::-webkit-scrollbar {
	width: rem(8);
}

::-webkit-scrollbar-track {
	background: #fff;
}

::-webkit-scrollbar-thumb {
	background: $scrollbarColor;
	border-radius: rem(8);

	@media (any-hover: hover) {
		&:hover {
			background: darken($color: $scrollbarColor, $amount: 10);
		}
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======